
:global {
  .ant-menu-dark .ant-menu-inline.ant-menu-sub{
    background: @blacklinghtblue; 
  }
	.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
	.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: @bluedeep ;
    color: @white;
    font-size: 12px;
  }
  .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon{
    color: @white;
  }
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background: @blackdeepblue; 
  }
}
